@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    background-image: linear-gradient(62deg, #607c97 0%, #38224d 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    overflow: auto;
    overflow-x: hidden;
}

.glassCard {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.alterGlassCard {
    background: rgba(136, 86, 143, 0.144);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.neumorpCard {
    background: #c290d67a;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
    height: 100%;;
    margin-right: 25px;
}

.logo h1 {
    font-size: 1.5rem;
    margin: 10px 0px;
}

nav {
    width: auto;
    margin-left: 25px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

nav li {
    list-style-type: none;
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    position: relative;
    color: #fff;
    padding-bottom: 4px;
}

nav a:hover {
    font-weight: bold;
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

nav a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.jumbotron {
    margin: 10px 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: auto;
    text-align: center;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10;
    align-self: flex-start;
    z-index: 1;
}

main {
    margin: 10px 30px;
    display: flex;
}

#content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 16px;
}

#menuProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}

#menuProfile div {
    text-align: center;
}

#menuProfile div h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#menuProfile div p {
    font-size: 1rem;
    padding: 0px 20px;
}

#menuProfile figure {
    text-align: center;
    margin-bottom: 20px;
}

#menuProfile figure img {
    width: 350px;
    border-radius: 50%;
}

#ingredients {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    align-content: center;
    justify-content: center;
    background-color: #443f450e;
}

#ingredients div {
    margin-bottom: 20px;
}

#ingredients div h1 {
    text-align: center;
}

#ingredients div li {
    width: auto;
    margin-left: 30px;
    margin-right: 10px;
}

#directions {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    align-content: center;
    justify-content: center;
}

#directions div {
    margin-bottom: 20px;
}

#directions div h1 {
    text-align: center;
}

#directions div li {
    width: auto;
    margin-left: 30px;
    margin-right: 10px;
}

.footer {
    padding: 50px 0px;
    background: rgba(0, 0, 0, 0.209);
    border-radius: 0px;
    text-align: center;
}

/* Responsive Breakpoints */
@media screen and (min-width: 768px) {
    #menuProfile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    #menuProfile div {
        text-align: center;
    }
    
    #menuProfile div h1 {
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    
    #menuProfile div p {
        font-size: 1.3rem;
        padding: 10px 100px;
    }
    
    #menuProfile figure {
        text-align: center;
        margin-bottom: 20px;
    }
    
    #menuProfile figure img {
        width: 350px;
        border-radius: 50%;
    }

    #ingredients {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        align-content: center;
        justify-content: center;
        background-color: #443f450e;
    }
    
    #ingredients div {
        margin-bottom: 20px;
    }
    
    #ingredients div h1 {
        text-align: center;
        font-size: 2rem;
    }
    
    #ingredients div li {
        width: auto;
        margin-left: 50px;
        margin-right: 10px;
        font-size: 1.2rem;
    }
    
    #directions {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        align-content: center;
        justify-content: center;
    }
    
    #directions div {
        margin-bottom: 20px;
    }
    
    #directions div h1 {
        text-align: center;
        font-size: 2rem;
    }
    
    #directions div li {
        width: auto;
        margin-left: 50px;
        margin-right: 10px;
        padding-right: 50px;
        font-size: 1.2rem;
    }
}


@media screen and (min-width: 1024px) {
    .logo {
        height: 100%;;
        margin-right: 25px;
    }
    
    .logo h1 {
        font-size: 2rem;
        margin: 10px 0px;
    }
    
    nav {
        width: auto;
        margin-left: 25px;
    }
    
    nav ul {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    
    nav li {
        list-style-type: none;
        margin-top: 20px;
    }
    
    nav a {
        text-decoration: none;
        position: relative;
        color: #fff;
        padding-bottom: 4px;
        font-size: 1.2rem;
    }

    #menuProfile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    
    #menuProfile div {
        text-align: center;
    }
    
    #menuProfile div h1 {
        font-size: 4.5rem;
        margin-bottom: 20px;
    }
    
    #menuProfile div p {
        font-size: 1.5rem;
        padding: 10px 100px;
    }
    
    #menuProfile figure {
        text-align: center;
        margin-bottom: 20px;
    }
    
    #menuProfile figure img {
        width: 350px;
        border-radius: 50%;
    }
    
    #ingredients {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        align-content: center;
        justify-content: center;
        background-color: #443f450e;
    }
    
    #ingredients div {
        margin-bottom: 20px;
    }
    
    #ingredients div h1 {
        text-align: center;
        font-size: 3rem;
    }
    
    #ingredients div li {
        width: auto;
        margin-left: 70px;
        margin-right: 10px;
        font-size: 1.5rem;
    }
    
    #directions {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;
        align-content: center;
        justify-content: center;
    }
    
    #directions div {
        margin-bottom: 20px;
    }
    
    #directions div h1 {
        text-align: center;
        font-size: 3rem;
    }
    
    #directions div li {
        width: auto;
        margin-left: 70px;
        margin-right: 10px;
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 460px) {
    .jumbotron {
        margin: 10px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: auto;
        height: 70px;
        text-align: center;
    }
    
    .logo {
        height: 10px;
        margin: 0px;
        padding-bottom: 8px;
    }
    
    .logo h1 {
        font-size: 1rem;
        margin: 0px;
    }
    
    nav {
        width: auto;
        margin: 0px;
    }
    
    nav ul {
        display: flex;
        justify-content: space-evenly;
        height: auto;
        width: 100%;
    }
    
    nav li {
        list-style-type: none;
        margin: 0px;
    }
    
    nav a {
        text-decoration: none;
        position: relative;
        color: #fff;
    }
    
    #menuProfile div h1 {
        font-size: 7.5vw;
        margin-bottom: 20px;
    }
    
    #menuProfile div p {
        font-size: 3vw;
        margin-top: 25px;
    }
    
    #menuProfile figure img {
        width: 90%;
    }

    #ingredients div h1 {
        font-size: 6vw;
    }
    
    #ingredients div li {
        margin-left: 20px;
        margin-right: 10px;
        font-size: 3vw;
    }

    #directions div h1 {
        font-size: 6vw;
    }
    
    #directions div li {
        margin-left: 20px;
        margin-right: 10px;
        font-size: 3vw;
    }

    .footer {
        padding: 35px 0px;
    }
}

@media screen and (max-width: 360px) {
    .footer {
        font-size: 0.8rem;
        padding: 25px 0px;
    }
}